* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #ddfff7;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
}

.box {
  width: 30vw;
  height: 50vh;
  background-color: #ddfff7;
  position: relative;
  box-shadow: 0px 0px 20px 8px rgb(0, 0, 0);
  background-image: url("images/logo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.box:after,
.box:before {
  mix-blend-mode: multiply;
  filter: none;
  z-index: -1;
  content: "";
  width: calc(100% + (50px * 2));
  height: calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform: translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%,
  100% {
    -webkit-clip-path: polygon(
      0 0,
      calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 100%,
      calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
    );
    clip-path: polygon(
      0 0,
      calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 100%,
      calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
    );
  }
  50% {
    -webkit-clip-path: polygon(
      calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 0,
      calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
      0 100%
    );
    clip-path: polygon(
      calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 0,
      calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
      0 100%
    );
  }
}

.box:after {
  animation-delay: -5s;
  background-color: #abe7e0;
  clip-path: polygon(
    0 0,
    calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
    100% 100%,
    calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
  );
}
.box:before {
  background-color: #f1a5be;
  clip-path: polygon(
    calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
    100% 0,
    calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
    0 100%
  );
}

.box:hover:after {
  animation-delay: -0.1s;
}
.box:hover:before,
.box:hover:after {
  animation-duration: 0.5s;
}

/* .display-5 {
  text-align: center;
  padding: 0.5%;
} */

.nav-item {
  font-weight: 500;
}

small {
  font-weight: 800;
}

small:hover {
  transition: ease-in-out 2ms;
  color: rgb(226, 143, 143);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.feet {
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1%;
  background-color: #f8f9fa;
  color: #000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 40vh;
  height: 250px;
  border-radius: 100%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.411);
}

.header {
  background: transparent;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  color: white(0, 0, 0);
  /* font-family: serif; */
  overflow: hidden;
  border-right: 0.15em solid rgb(221, 171, 78);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.3em;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(231, 178, 80);
  }
}

h1 {
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

.mn {
  margin-left: 44%;
}

/* body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
} */

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(155, 133, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(155, 133, 175);
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: rgba(155, 133, 175, 0.39);
  text-decoration: none;
  color: rgb(155, 133, 175);
}

#da-btn:hover {
  transform: translateY(-5px);
  transition: ease-out 0.3s;
  background-color: #ac72b3;
}

#da-womb:hover {
  transform: translateY(-5px);
  transition: ease-out 0.3s;
  background-color: #ac72b3;
}

#mdl-btn {
  display: flex;
  width: auto;
  align-self: center;
  margin: auto;
}

.shadow-sm {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.151) !important;
}

/* cards */
.pn_testimonial_box {
  font-weight: 300;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #d884b5;
  position: relative;
  transition: 1s;
  transform: scale(0.9);
  background-color: rgb(255, 255, 255);
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  border-radius: 4rem;
}
.pn_testimonial_box:hover {
  box-shadow: 2px 4px 8px #030303;
  border: 1px solid rgb(0, 0, 0);
  transform: scale(1);
  position: relative;
  z-index: 1;
}
.pn_review_rating img {
  width: 20%;
}
.pn_review_profile img {
  position: absolute;
  margin: -1rem -5rem 0;
}
.pn_review_profile span {
  position: absolute;
}

@media (max-width: 575px) {
  /*---------- testimonial css start ----------*/
  .pn_reviews {
    padding: 3rem 0;
  }
  .pn_reviews h1 {
    font-size: 2rem;
    padding-bottom: 1rem !important;
  }
  .pn_testimonial_box {
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #000000;
    position: relative;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    border-radius: 4rem;
  }
  .pn_review_profile img {
    position: absolute;
    margin: -1.1rem -3rem 0;
  }
  .pn_review_profile span {
    position: absolute;
    padding: 1rem;
  }
  .pn_review_rating img {
    width: auto;
  }
}

#texter {
  color: #000;
  font-weight: bolder;
}

#ma-title {
  color: grey;
  padding: 5px;
}

#hoover:hover {
  transform: translateY(-5px);
  transition: ease-out 0.3s;
  color: #d884b5;
}

/* testimonial */
/* .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
} */

/* .boxx {
  background-color: white;
  padding: 50px;
  margin-top: 200px;
  margin-left: 130px;
  border-radius: 50px;
  width: 60%;
  box-shadow: ;
} */

/* :root {
  --primary: #37a9e1;
  --primary-gradient: linear-gradient(45deg, #153c7e 0%, #37a9e1 100%);
}
.section-header {
  text-align: center;
}
.section-header h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section-header hr {
  border: 1px solid #fff;
  width: 56px;
}
.bg-gradient_solid {
  background: var(--primary-gradient);
  color: #fff;
  padding: 48px 0;
}
.steps {
  position: relative;
  margin-top: 32px;
}
.steps::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: white;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 50%;
}

.steps .content p {
  color: #676767;
  font-size: 16px;
}

.steps .content h2 {
  font-weight: 600;
  font-size: 16px;
  color: #676767;
}

.steps-container {
  position: relative;
  background-color: inherit;
  width: calc(50% + 32px);
}

.steps-container .content {
  padding: 32px;
  background-color: white;
  position: relative;
  border-radius: 0px 0px 80px 0px;
  box-shadow: 0px 16px 27px rgb(0 11 30 / 10%);
}

.steps .steps-container:nth-child(even) {
  left: calc(50% - 32px);
  flex-direction: row-reverse;
}

.steps-container {
  display: flex;
}

.steps .steps-container .date {
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
  width: 62px;
  height: 62px;
  background-color: var(--primary);
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 777;
}

.step-line {
  width: 40px;
  background-color: #fff;
  height: 1px;
  margin-top: 31px;
  opacity: 0.4;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .steps::after {
    left: 32px;
  }
  .steps-container {
    left: 0;
    flex-direction: row-reverse;
    width: auto;
    margin-bottom: 16px;
  }
  .steps .steps-container:nth-child(even) {
    left: 0;
  }
} */

/* #card1{
  width: 500px;
}

#card2{
  width: 500px;
} */

/* contact  */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}
/* body{
  margin: 0;
} */
.container1 {
  padding: 1rem;
  margin: 0 auto;
  max-width: 520px;
}
form {
  display: flex;
  flex-wrap: wrap;
}
fieldset {
  background-color: #85737f81;
  border: 1px solid #85737ff8;
  border-radius: 20px;
  padding-block-end: 1.2em;
  margin-block-end: 1.2em;
}
legend {
  font-size: 2.4rem;
  color: #666;
  margin-bottom: 10px;
}
.field-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}
label,
input,
button {
  display: block;
}
label {
  font-variant: small-caps;
  font-size: 0.875rem;
  font-weight: bolder;
  color: #666;
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 16px;
  margin-left: 25px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: 3px;
}
.form-element {
  display: block;
  width: 85%;
  margin-left: 25px;
  padding: 10px 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-shadow: inset 0 1px 1px rgba(3, 3, 3, 0.342);
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 1.2s;
  margin-bottom: 20px;
}
::placeholder {
  color: #aaa;
}
button {
  font-size: 1em;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid rgb(195, 168, 212);
  color: rgb(142, 129, 150);
  font-variant: all-small-caps;
}
button:hover {
  background-color: #cecaca;
}
button:active {
  background-color: #ccc;
}

@media screen and (min-width: 420px) {
  form {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 90px;
    margin-bottom: 20px;
  }
  #paragraph {
    color: #000;
    font-weight: bold;
  }

  #submit-me {
    margin: auto;
    margin-top: 20px;
  }

  #legend {
    margin-left: 20px;
  }

  /* testimonial2 */
  .testimonial-page {
    padding: 40px 0px;
  }
  .card-reviews {
    padding-bottom: 30px;
    height: 100%;
  }
  .test-reviews .card {
    box-shadow: 0px 5px 16px rgb(255, 255, 255);
    height: 100%;
    transition: 0.8s;
    background: rgb(236, 218, 218);
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px !important;
  }
  .test-reviews .card:after {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    z-index: 9999;
    height: 100%;
    pointer-events: none;
  }
  .test-reviews .description {
    font-size: 17px;
    font-weight: 00;
    hyphens: none;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
  }
  .test-reviews .card-title img {
    z-index: 99999 !important;
  }
  .test-reviews .card .layer {
    position: absolute;
    top: calc(100% - 5px);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      #f7e1f1,
      #cfb5e0,
      #eac1f0,
      #b7ccd8,
      #f7e1f1
    );
    left: 0;
    z-index: 1;
    transition: 0.5s;
  }
  .test-reviews .card:hover {
    cursor: pointer;
    box-shadow: -5px 50px 100px rgba(3, 3, 3, 0.959);
  }

  .test-reviews .card:hover hr {
    background-color: rgb(8, 8, 8);
  }
  .test-reviews .card:hover .layer {
    top: 0;
  }
  .test-reviews .card .content {
    position: relative;
    z-index: 2;
  }

  .test-reviews .card .content .img-1 {
    width: 100px;
    height: 100px;
    margin: 20px auto 0px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgb(247, 239, 239) !important;
  }
  .test-reviews .card .content .img-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .test-reviews hr {
    background-color: rgb(255, 255, 255);
    width: 80% !important;
    transition: 1s;
  }

  .test-reviews .card-bottoms {
    text-align: center;
    padding: 0px 20px 25px;
  }
  .test-reviews .card-bottoms .user-name {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    font-family: "mulibold";
  }
  .test-reviews .card:hover .description,
  .test-reviews .card:hover .card-bottoms .user-name {
    color: rgb(255, 255, 255);
  }

  .card-reviews .owl-user-imgs {
    padding: 10px 10px 20px;
  }
  .card-reviews .owl-user-imgs .user-upload-img {
    width: 60px;
    border-radius: 5px;
    height: 60px;
    margin: 0px auto;
  }
  .card-reviews .owl-user-imgs .user-upload-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .owl-user-imgs {
    display: flex;
  }
  /* testimonial ends */

  /* cards  */
  .cardz {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5%;
    flex-wrap: wrap;
  }

  #wrap {
    margin: 2%;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.39);
  }

  .card-header {
    color: #000;
    font-weight: 700;
  }

  #lnk-btn {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 200px;
  }

  #the-tip {
    margin-bottom: 2%;
  }

  @media (max-width: 1000px) {
    .box {
      width: 50vw;
    }
  }

  @media (max-width: 600px) {
    .box {
      width: 80vw;
    }
    #me {
      width: 60vw;
      height: 30vh;
    }
  }

  @media (max-width: 450px) {
    #me {
      width: 80vw;
      height: 40vh;
    }
  }

  @media (max-width: 350px) {
    .box {
      width: 90vw;
    }
    #me {
      width: 80vw;
      height: 30vh;
    }
  }

  /* skill bar */
  .container4 {
    width: 100%;
    background-color: #ddd;
  }

  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  .html {
    width: 90%;
    background-color: rgb(255, 115, 0);
  }
  .css {
    width: 80%;
    background-color: #2196f3;
  }
  .js {
    width: 65%;
    background-color: #e7e439;
  }
  .bootstrap {
    width: 60%;
    background-color: #782c9b;
  }

  .my-skills {
    color: #000;
    text-align: center;
    padding-top: 15px;
  }

  #color {
    color: rgb(219, 132, 132);
    font-weight: 700;
  }

  #color2 {
    color: #000;
  }

  .p {
    color: #000;
  }

  #spacing {
    padding: 2%;
  }

  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
  }

  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }

  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }

  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }

  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  }

  .title-white {
    color: white;
  }

  .title-black {
    color: black;
  }

  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

  /* timeline2 */
}
.main-timeline {
  position: relative;
  margin-right: 6%;
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: transparent;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative;
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
  background: #bca1c2;
  border: 2px solid #000000;
  left: -3px;
}

.main-timeline .icon:after {
  border: 2px solid #000000;
  left: 3px;
}

.main-timeline .timeline:hover .icon:before {
  left: 3px;
}

.main-timeline .timeline:hover .icon:after {
  left: -3px;
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative;
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: transparent;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
  background: #9c8ba0;
  border: 2px solid transparent;
  left: -6px;
}

.main-timeline .date-outer:after {
  border: 2px solid rgb(0, 0, 0);
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px;
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px;
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0;
}

.main-timeline .month {
  font-size: 15px;
  font-weight: 700;
  color: #2b2b26;
}

.main-timeline .year {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 36px;
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right;
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
  color: #9c8ba0;
}

.main-timeline .description {
  margin-bottom: 0;
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right;
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
    margin-top: 35px;
  }

  .main-timeline .date-content:before {
    width: 22.5%;
  }

  .main-timeline .timeline-content {
    padding: 10px 0 10px 30px;
  }

  .main-timeline .title {
    font-size: 17px;
  }

  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 10px 30px 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    margin: 0;
    left: 7px;
  }

  .main-timeline .timeline {
    margin-bottom: 20px;
  }

  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }

  .main-timeline .icon {
    margin: auto 0;
    display: none;
  }

  .main-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0;
  }

  .main-timeline .date-content:before {
    display: none;
  }

  .main-timeline .date-outer {
    width: 110px;
    height: 110px;
  }

  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    width: 110px;
    height: 110px;
  }

  .main-timeline .date {
    top: 30%;
  }

  .main-timeline .year {
    font-size: 19px;
  }

  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 95%;
    text-align: center;
    padding: 10px 0;
  }

  .main-timeline .title {
    margin-bottom: 10px;
  }
}
